Appium-Python-Client
attrs
certifi
cffi
charset-normalizer
click
cryptography
decorator
docutils
grpcio
grpcio-tools
h11
idna
kitchen
numpy
opencv-python
outcome
overrides
packaging
pillow
pip
protobuf
pycparser
PySocks
pytesseract
requests
robotframework
robotframework-appiumlibrary
robotframework-archivelibrary
robotframework-assertion-engine
robotframework-browser
robotframework-pythonlibcore
robotframework-requests
robotframework-seleniumlibrary
selenium
setuptools
six
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
urllib3
wheel
wrapt
wsproto